body{
  background: black;
}
section{
  -webkit-animation: rise 5s linear infinite alternate;
}
.head {
  height: 30em;
  width: 25em;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #ffe0bd;
  -webkit-animation: spin 10s linear infinite;
  margin: 0 auto
}
.right-eye, .left-eye {
  height: 3em;
  width: 3.5em;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  background-color: white;
  -webkit-animation: bounce .5s ease-in-out infinite Alternate both;
}
.right-eye {
  top: 8em;
  left: 6em;
}
.left-eye {
  top: 5em;
  left: 15em;
}
.left-pupil, .right-pupil{
  height: .6em;
  width: .6em;
  background: black;
  border-radius: 50%;
  position: relative;
  top: 1em;
  left: 1em;
}
.nose {
  position: relative;
  margin: auto;
  top: 7em;
  width: 4em;
  height: 3em;
  transform: rotate(95deg);
  -webkit-transform: rotate(95deg);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.mouth{
  height: 1em;
  width: 11em;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  top: 11em;
  left: 7em;
  background: black;
  -webkit-animation: open 2s ease-in infinite Alternate both;
}
@-webkit-keyframes bounce{
  0% {
    transform: scale(.7);
    -webkit-transform: scale(.3);
  }
  50%{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
  }
  100%{
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes open{
  0%{
    height: .5em;
  }
  50%{
    height: 5em;
  }
  100%{
    height: 8em;
  }
}
@-webkit-keyframes spin{
  50%{
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rise{
  from {
    margin-top: 0;
    margin-left:-80em;
  }
  to {
    margin-top: 27em;
    margin-left: 80em;
  }
}

body, section, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image:
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-size: 200px 200px;
  animation: zoom 5s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 1s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 2s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 3s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 4s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}
